<a href="/admin/dashboard">back</a>
<form action="/admin/listing/{{listing.id}}" method="post" enctype="multipart/form-data">
    <label for="listingImages">Update Images (leave blank to not replace):</label>
    <input type="file" name="listingImages" accept="image/png, image/jpeg" multiple><br>

    <label for="title">Title:</label>
    <input type="text" name="title" value="{{listing.title}}"><br>

    <label for="address">Full Address (works with google maps link):</label>
    <input type="text" name="address" value="{{listing.address}}"><br>

    <label for="shortAddress">Short Address:</label>
    <input type="text" name="shortAddress" value="{{listing.short_address}}"><br>

    <label for="story">Story (For sold listings only):</label>
    <textarea name="story">{{listing.story}}</textarea><br>

    <label for="price">List price or Sold price:</label>
    <input type="text" name="price" value="{{listing.price}}"><br>

    <label for="bedBaths">Beds and baths as string ex (5 Beds | 4 Baths):</label>
    <input type="text" name="bedBaths" value="{{listing.bed_baths}}"><br>

    <label for="sqft">Sqft amount as integer:</label>
    <input type="text" name="sqft" value="{{listing.sqft}}"><br>

    <label for="description">House Description:</label>
    <textarea name="description">{{listing.description}}</textarea><br>

    <label for="type">Choose listing type:</label>
    <select name="type">
        <option value="listed">Active Listing</option>
        <option value="sold">Sold Listing</option>
    </select>
    <input type="submit" value="Submit">
</form>