{{> navbar}}

<div class="contact-body">
    <img src="/images/contactBackround.png">
    <hgroup class="contact-hero">
        <h1>Connect With Me</h1>
        <p>Let an expert help you on every step on the journey</p>
    </hgroup>
    <div class="contact-body-flex">
        <section class="contact-form-section">
            <h3>Send a quick message</h3>
            {{#if error}}
                <div class="error-message">{{error}}</div>
            {{/if}}
            <form class="contact-form" action="/contact" method="post">
                <input type="text" name="fname" class="fname text-box" placeholder="First Name *" value="{{userFName}}" required>
                <input type="text" name="lname" class="lname text-box" placeholder="Last Name *" value="{{userLName}}" required>
                <input type="text" name="email" class="email text-box" placeholder="Email *" value="{{userEmail}}" required>
                <input type="text" name="phone" class="phone text-box" placeholder="Phone *" value="{{userPhone}}" required>
                <input type="text" name="message" class="message text-box" placeholder="Message *" value="{{userMessage}}">
                <button type="submit" class="general-button submit-button">Submit</button>
                <div class="cap g-recaptcha" data-sitekey="6Lfew_EqAAAAAFaYEM6qd_FpYEDOMJayeNjHL0RC"></div>
            </form>
            <p>
                By submitting this form, you consent to Bob Diersing collecting you information via text.
                <a href="/privacy-policy" target="_blank">PRIVACY POLICY</a>
            </p>
        </section>
        <address class="contact-card-section">
            {{> contactCard}}
            <h3>Or use my card</h3>
        </address>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const inputs = Array.from(
        document.querySelectorAll('input[name=email], input[name=phone]')
    );

    const inputListener = e => {
        inputs
        .filter(i => i !== e.target)
        .forEach(i => (i.required = !e.target.value.length));
    };

    inputs.forEach(i => i.addEventListener('input', inputListener));
    });
</script>