<div class="hero">
  <video autoplay muted loop>
    <source src="videos/testVideo.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <h1>{{heroText}}</h1>
  <a href="/soldHomes" class="cta-button">Browse Listings</a>
</div>

<div class="content">
  <div class="left-content">
    <div class="bio content-item">
      <div class="bio-text">
        <p>
          Born and raised in Orange County, Bob has sold real estate in the area for over 29 years. With a background in real estate appraisal, he brings exceptional expertise to property valuation. Bob's commitment to excellence ensures top-notch service tailored to your needs.
        </p>
        <a href="/profile" class="learn-more">Learn More About Bob</a>
      </div>
      <img src="images/bioImage.png" alt="bioImage">
    </div>

    <div class="soldHomes-container content-item">
      <h1>Latest Sales</h2>
      <div class="soldHomes-grid">
        {{#each soldHomes}}
          <div class="listing-item">
            <img src="{{this.image}}" alt="House" class="listing-image"/>
            <div class="listing-info">
              <h2 class="listing-title">{{this.title}}</h2>
              <p class="listing-price">Sold for ${{this.price}}</p>
              <p>Bed: {{this.beds}} | Bath: {{this.baths}}</p>
            </div>
            <a href="/listing/{{this.id}}" class="details-link">View Details</a>
          </div>
        {{/each}}
      </div>
      <a href="/soldHomes" class="view-more">View More Sales</a>
    </div>
  </div>

  <aside class="video-bar content-item">
    {{> videoBar}}
  </aside>

</div>

<li><a href="/admin/login">Admin Login</a></li>


