<article class="listing-container">
  <a class="back-btn" href="/sold-homes"><span class="material-symbols-outlined">chevron_left</span>Back to previous sales</a>
  <section class="listing-images">
    {{> image-carousel images=listing.images }}
  </section>
  <section class="listing-details">
    <ul>
      <li class="big-font">Sold For:</li>
      <li class="price">{{listing.price}}</li>
      <li class="big-font">{{listing.address}}</li>
      <li class="big-font">{{listing.bedbaths}}</li>
      <li class="big-font">Size: {{listing.sqft}} sqft</li>
      <li class="description"><p>{{listing.description}}</p></li>
    </ul>
  </section>
  <section class="listing-story">
    <h2>He we came out on top</h2>
    <p>{{listing.story}}</p>
  </section>
</article>